h1 {
  font-size: 1.5em;
  font-family: Verdana, Helvetica;
  color: #bb6666;
}

p {
  font-size: 1.0em;
  font-family: sans-serif;
  color: #0000aa;
}

div {
  font-size: 1.0em;
  font-family: arial;
  color: #999999;
}

.header {
  font-size: 1.1em;
  color: #6666aa;
  background-color: #cccccc;
}

.footer {
  font-size: 1.1em;
  color: #6666aa;
  background-color: #cccccc;
}

.nav {
  font-size: 1.2em;
  background-color: rgba(58, 128, 195, 0.72);
}

.hlist li {
  display: inline;
  margin-right: 2.0em;
}

a:link, a:visited {
  text-decoration: none;
  color: #0000ff;
}

a:hover {
  text-decoration: none;
  color: #ff0000;
  background-color: #eeeeee;
}
