h1 {
  font-size: 20pt;
  font-family: Verdana, Helvetica;
  color: #bb6666;
}

p {
  font-size: 12pt;
  font-family: sans-serif;
  color: #0000aa;
}

div {
  font-size: 12pt;
  font-family: ¸¼Àº°íµñ, Verdana;
  color: #999999;
}
