{% extends "base.html" %}

{% block content %}

<p>
Quiz-it-yourself is a self-building quiz site where you can prepare and try your own questions everyday to boost your memory and knowledge. One day, my friend Joseph asked me a few questions about programming. He wanted to build a simple quiz program, which extracts a few stereo-typed questionair from a text sheet. It took a day for him to complete coding it, and I was interested in the idea. I wanted to make it accessible everywhere - web, of course! - and expandible - by adding contents when I want to do. And this is why I am building this google app-engine based site.
</p>
<p>
Source code repository is <a href="https://github.com/kyeru/quiz-it-yourself">https://github.com/kyeru/quiz-it-yourself</a>.
<p>
You can freely create an account to keep your questions and grade records private, or just make fun in anonymous mode. Even creating an account, however, does not impose any security issue, because it does not require single piece of information about you! Just login with any nickname, and you can keep going with the name as long as you want. Others may accidentally use the same nickname as yours, and your material and grade record may be interrupted. This is the worst news what can happen, and it will not cost you as much as identity theft or something even worse.
</p>
<p>
So, how to create your quiz? First, go to the <a href="/upload">upload</a> page, and follow the instruction to upload your material. Then you can visit <a href="/quiz">quiz</a> page anytime to try and check <a href="/grade">grade</a> history whether you are doing better as time goes by.
</p>
<p>
For those who are reluctant to gather data and upload files, don't worry. There is a ready-made quiz for anonymous user. You just go ahead and try, although no grade is recorded for anonymous.
</p>
<p>
That's it! Thank you for visiting.
</p>

{% endblock %}