<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
/*
$(document).ready(function() {
  $("#tab_quiz").click(function() {
    // $("#tab-quiz, #tab-grade, #tab-upload, #tab-about").removeClass("active");
    $("#tab_quiz").addClass("active");
  });
  $("#tab_grade").click(function() {
    $("#tab_grade").addClass("active");
  });
  $("#tab_upload").click(function() {
    $("#tab_upload").addClass("active");
  });
  $("#tab_about").click(function() {
    $("#tab_about").addClass("active");
  });
});*/
</script>

{% block script %}
{% endblock %}

</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li {% if request.path == "/quiz/" %}class="active"{% endif %}><a href="/quiz">Quiz</a></li>
      <li {% if request.path == "/grade/" %}class="active"{% endif %}><a href="/grade">Grade</a></li>
      <li {% if request.path == "/upload/" %}class="active"{% endif %}><a href="/upload">Upload</a></li>
      <li {% if request.path == "/about/" %}class="active"{% endif %}><a href="/about">About</a></li>
    </ul>
  </div>
</nav>

{% block content %}
{% endblock %}

<br/>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<br/>

{% if not user_id %}
<h4><a href="/login"><span class="label label-default">Login</span></a></h4>
{% else %}
<h4>User {{ user_id }} logged in. <a href="/logout"><span class="label label-success"> Logout</a></h4>
{% endif %}

</body>

</html>