<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

{% if style_url %}
<link rel="stylesheet" type="text/css" href="{{ style_url }}">
{% endif %}

{% block script %}
{% endblock %}

</head>

<body>

<div class="nav">
  <ul class="hlist">
    {% if not user_id %}
    <li><a href="/login"><b>login</b></a></li>
    {% else %}
    <li><a href="/logout"><b>logout</b></a></li>
    {% endif %}
    <li><a href="/common"><b>common</b></a></li>
    {% if user_id %}
    <li><a href="/yours"><b>yours</b></a></li>
    <li><a href="/grade"><b>grade</b></a></li>
    {% endif %}
    <!-- <li><a href="/random"><b>random</b></a></li> -->
    <li><a href="/upload"><b>upload</b></a></li>
    <li><a href="/about"><b>about</b></a></li>
  </ul>
</div>


{% block content %}
{% endblock %}

<br/>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<br/>

{% if user_id %}
<div class="footer">{{ user_id }} logged in</div>
{% endif %}

</body>

</html>