<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
.container {
  margin: 10px 10px 10px 10px;
}
</style>

{% block script %}
{% endblock %}

</head>

<body>

<div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li {% if request.path == "/quiz/" %}class="active"{% endif %}><a href="/quiz">Quiz</a></li>
      <li {% if request.path == "/scores/" %}class="active"{% endif %}><a href="/scores">Scores</a></li>
      <li {% if request.path == "/upload/" %}class="active"{% endif %}><a href="/upload">Upload</a></li>
      <li {% if request.path == "/about/" %}class="active"{% endif %}><a href="/about">About</a></li>
    </ul>
  </div>
</nav>

<section class="container">

{% block content %}
{% endblock %}

<br/>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<br/>

</section>

<footer class="container">
{% if not user_id %}
<h4><a href="/login"><span class="label label-default">Login</span></a></h4>
{% else %}
<h4>User {{ user_id }} logged in. <a href="/logout"><span class="label label-success"> Logout</a></h4>
{% endif %}
</footer>

</div>

</body>

</html>