{% extends "base.html" %}

{% block content %}

<form method="post" enctype="multipart/form-data">
	<div><p>Quiz entry</p></div>
	<div style="float:left;margin-right:10px;">category: </div>
	<div style="float:left;margin-right:20px;"><input type="text" name="category" /></div>
	<div style="float:left;margin-right:10px;">user: </div>
	<div><input type="text" name="user" /></div>
	<br />
	<div><input type="submit" name="submit" /></div>
</form>

{% with messages = get_flashed_messages() %}
	{% for messasge in messages %}
		<div><p>{{ message }}</p></div>
	{% endfor %}
{% endwith %}

{% endblock %}