<!doctype html>
{% if target %}
  <p>{{ target }}</p>
  <form method="post">
    <div>
      {% if choice1 %}
      <input type="radio" name="choice" value="1" />{{ choice1 }}<br/>
      {% endif %}
      {% if choice2 %}
      <input type="radio" name="choice" value="2" />{{ choice2 }}<br/>
      {% endif %}
      {% if choice3 %}
      <input type="radio" name="choice" value="3" />{{ choice3 }}<br/>
      {% endif %}
      {% if choice4 %}
      <input type="radio" name="choice" value="4" />{{ choice4 }}<br/>
      {% endif %}
    </div>
  </form>
{% else %}
  <p>question is not given</p>
{% endif %}
